#root > div:nth-child(1) > div.withScreencast > div > div > header > div.st-emotion-cache-zq5wmm.ezrtsby0 {
    display: none;

}

#root > div:nth-child(1) > div.withScreencast > div > div > header {
    background-color: black;
}

.st-emotion-cache-1788y8l {
    gap: 0;
}

.st-emotion-cache-10trblm {
    text-align: center;
}

.bg{
    fill: red;
}

